@CHARSET "UTF-8";
/* 상품 상세페이지 롤오버 소스 */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

figure.snip1384 {
  font-family: 나눔고딕;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 150px;
  max-width: 270px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1384 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1384 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
figure.snip1384:after,
figure.snip1384 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1384:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
figure.snip1384 figcaption {
  z-index: 1;
  padding: 40px;
}
figure.snip1384 h3,
figure.snip1384 .links {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
figure.snip1384 h3 {
  line-height: 1.1em;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 0;
}
figure.snip1384 p {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
figure.snip1384 i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px 25px;
  font-size: 34px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
figure.snip1384 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.snip1384:hover img,
figure.snip1384.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.snip1384:hover:after,
figure.snip1384.hover:after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
figure.snip1384:hover h3,
figure.snip1384.hover h3,
figure.snip1384:hover p,
figure.snip1384.hover p,
figure.snip1384:hover i,
figure.snip1384.hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
/* 상품 상세페이지 롤오버 소스  끝 */




th, tr, td{
	text-align: center;
}


/* a:hover {text-decoration: none; color: #222;}
a:link {text-decoration: none; color: #f40;}
a:active {text-decoration: none; color: #999;}
a:visited {text-decoration: none; color: #f40;}
 */
/* 전체 틀 레이아웃 설정 */
.div {
	align: center;
	width: 1200px;
	margin: auto;
	text-align: center;
}

.innerdiv2{ width: 800px;text-align: center;}

.leftdiv {
	align: align;
	margin: auto;
	width: 1200px;
	text-align: left;
}

table {
	width: 100%;
	border-style: none;
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
}

.left { text-align: left; }
.center { text-align: center; }
.px200 { width:200px;}
.px800 { width:800px;}
.auto {padding: 0px;
}
#order { font-size: 50px; }

/* 상품 수량변경 버튼 테이블 */
#quan { border: 0px; padding: 0px; border-spacing: 0px; height: 10px}

/* 전체 틀 레이아웃 설정  끝 */